

.xheader{
	background-color:#8E44AD;
	color:white;
}
.xfooter{
	padding-left:0px;
	padding-right:0px;
	width:100%;
	background-color:#BB8FCE;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.row-header{
	margin:0px auto;
	padding:opx;
}

.row-content{
	margin:0px auto;
	padding:50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9;
	margin:0px auto;
	padding; 20px 0px 20px 0px;
}

.jumbotron{
	padding:70px 30px 70px 30px;
	margin: 0px auto;
	background: florawhite;
}

.Media{
	display: inline;
}

address{
	font-size: 80%;
	margin:0px;
	color: #0f0f0f;
}
a: hover{
	text-decoration: none;
}
.btn-social-icon{
	padding:3px;
}

.nav-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}